
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 420px;
  margin: 1em;
  padding: 2em;
  border-radius: 14px;
  background: rgb(234 234 234);
  background: #000000d0;
  color: white;
}

.img {
  height: 20px;
  background-color: none;
}


.input > input {
  border: none;
  outline: none;
  padding: 0.3rem;
  border-radius: 18px;
  color: rgb(255 255 255);
  background: #7c7c7c2b;
  font-family: 'Raleway', sans-serif;
}
.button {
  border: none;
  width: 35px;
  padding: 6px;
  border-radius: 20px;
  background: #7c7c7c2b;
  
}

.displayWeather{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}